{{ $ordinal := .Ordinal }}
{{ $route := "M 77 164 L 169 52 L 279 92 L 438 51 L 546 195 L 462 291 L 395 285 L 317 346 L 175 313 L 83 336 L 145 218 L 215 185 Z" }}
{{ $branches := "M 169 52 L 215 185 M 279 92 L 395 285 M 438 51 L 395 285 M 546 195 L 395 285 M 462 291 L 317 346 M 175 313 L 145 218" }}
{{/* Node arrival times follow cumulative edge length / total length * 8s,
     offset by the leading signal's -1s start. Keep in sync with $route. */}}
{{ $nodes := slice
  (dict "x" 77 "y" 164 "begin" "-1.000000s")
  (dict "x" 169 "y" 52 "begin" "-0.222276s")
  (dict "x" 279 "y" 92 "begin" "0.405772s")
  (dict "x" 438 "y" 51 "begin" "1.286840s")
  (dict "x" 546 "y" 195 "begin" "2.252680s")
  (dict "x" 462 "y" 291 "begin" "2.937149s")
  (dict "x" 395 "y" 285 "begin" "3.298095s")
  (dict "x" 317 "y" 346 "begin" "3.829416s")
  (dict "x" 175 "y" 313 "begin" "4.611661s")
  (dict "x" 83 "y" 336 "begin" "5.120506s")
  (dict "x" 145 "y" 218 "begin" "5.835747s")
  (dict "x" 215 "y" 185 "begin" "6.250998s")
}}
<figure class="network-portrait">
  {{ range slice "back" "front" }}
  {{ $clip := printf "portrait-network-%d-%s" $ordinal . }}
  <svg class="portrait-network portrait-network-{{ . }}" viewBox="0 0 600 400" aria-hidden="true" focusable="false">
    <defs>
      <clipPath id="{{ $clip }}">
        {{ if eq . "back" }}
        <polygon points="0,0 600,0 600,20 0,260" />
        {{ else }}
        <polygon points="0,260 600,20 600,400 0,400" />
        {{ end }}
      </clipPath>
    </defs>
    <g clip-path="url(#{{ $clip }})">
      <path class="portrait-network-edge" d="{{ $route }}" />
      <path class="portrait-network-edge portrait-network-branch" d="{{ $branches }}" />
      {{ range $nodes }}
      <circle class="portrait-network-node" cx="{{ .x }}" cy="{{ .y }}" r="3" />
      <circle class="portrait-network-response" cx="{{ .x }}" cy="{{ .y }}" r="3" opacity="0">
        <animate attributeName="opacity" values="0.9;0;0" keyTimes="0;0.065;1" dur="8s" begin="{{ .begin }}" repeatCount="indefinite" />
        <animate attributeName="r" values="3;10;10" keyTimes="0;0.065;1" dur="8s" begin="{{ .begin }}" repeatCount="indefinite" />
      </circle>
      {{ end }}
      {{ range slice (dict "radius" 1.5 "opacity" 0.15 "begin" "-0.82s") (dict "radius" 1.8 "opacity" 0.3 "begin" "-0.88s") (dict "radius" 2.2 "opacity" 0.5 "begin" "-0.94s") (dict "radius" 3 "opacity" 1 "begin" "-1s") }}
      <circle class="portrait-network-signal" r="{{ .radius }}" opacity="{{ .opacity }}">
        <animateMotion path="{{ $route }}" dur="8s" begin="{{ .begin }}" repeatCount="indefinite" calcMode="paced" />
      </circle>
      {{ end }}
    </g>
  </svg>
  {{ end }}
  <img src="{{ .Get "src" }}" alt="{{ .Get "alt" }}" width="1024" height="1024" />
</figure>
